<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq969.middleware.dbc.dao.ServiceDao">
    <update id="createService">
        create table `h_dbc_service`
        (
            `service_id`   varchar(50),
            `service_name` varchar(100) unique not null,
            `service_desc` varchar(255),
            `created_at`   numeric(20),
            `updated_at`   numeric(20),
            constraint pk_dbc_service primary key (`service_id`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8
    </update>

    <update id="createAccService">
        create table `h_dbc_acc_service`
        (
            `app`        varchar(100),
            `username`   VARCHAR(100),
            `service_id` varchar(100),
            constraint pk_dbc_acc_service primary key (`app`, `username`, `service_id`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8
    </update>

    <update id="createProfiles">
        create table `h_dbc_profiles`
        (
            `profile_name` varchar(100),
            `profile_desc` varchar(255),
            `created_at` numeric(20),
            `updated_at` numeric(20),
            constraint pk_dbc_profiles primary key (`profile_name`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8
    </update>

    <update id="createAccProfiles">
        create table `h_dbc_acc_profiles`
        (
            `app`          varchar(100),
            `username`     VARCHAR(100),
            `profile_name` varchar(100),
            constraint pk_dbc_acc_profiles primary key (`app`, `profile_name`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8
    </update>

    <update id="createConfig">
        create table `h_dbc_config`
        (
            `app`          varchar(100),
            `username`     VARCHAR(100),
            `service_id`   varchar(100),
            `profile_name` varchar(100),
            `config_key`   varchar(500),
            `config_value` text,
            `data_type`    varchar(50) default 'java.lang.String',
            `created_at`   numeric(20),
            `updated_at`   numeric(20),
            constraint pk_db_config primary key (`app`, `username`, `service_id`, `profile_name`, `config_key`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8
    </update>

    <update id="createConfigFile">
        create table `h_dbc_config_file`
        (
            `app`          varchar(100),
            `username`     VARCHAR(100),
            `service_id`   varchar(100),
            `profile_name` varchar(100),
            `file_name`    varchar(100),
            `file_content` text,
            `created_at`   numeric(20),
            `updated_at`   numeric(20),
            constraint pk_dbc_config_file primary key (`app`, `username`, `service_id`, `profile_name`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8
    </update>

    <update id="createConfigBackup">
        create table `h_dbc_config_bk`
        (
            `id`             varchar(50),
            `app`            varchar(100),
            `username`       VARCHAR(100),
            `service_id`     varchar(100),
            `service_name`   varchar(100),
            `service_desc`   varchar(255),
            `profile_name`   varchar(100),
            `profile_desc`   varchar(255),
            `file_name`      varchar(100),
            `backup_content` text,
            `created_at`     numeric(20),
            constraint pk_dbc_config_bk primary key (`id`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8
    </update>
</mapper>