<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq969.middleware.dbc.dao.ServiceDao">
    <update id="createService">
        create table h_dbc_service
        (
            service_id   varchar2(50) ,
            service_name varchar2(100) unique not null,
            service_desc varchar2(255),
            created_at   number(20),
            updated_at   number(20),
            constraint pk_dbc_service primary key (service_id)
        ) 
    </update>

    <update id="createAccService">
        create table h_dbc_acc_service
        (
            app        varchar2(100),
            username   varchar2(100),
            service_id varchar2(100),
            constraint pk_dbc_acc_service primary key (app, username, service_id)
        ) 
    </update>

    <update id="createProfiles">
        create table h_dbc_profiles
        (
            profile_name varchar2(100),
            profile_desc varchar2(255),
            created_at number(20),
            updated_at number(20),
            constraint pk_dbc_profiles primary key (profile_name)
        ) 
    </update>

    <update id="createAccProfiles">
        create table h_dbc_acc_profiles
        (
            app varchar2 (100),
            username varchar2 (100),
            profile_name varchar2 (100),
            constraint pk_dbc_acc_profiles primary key (app, profile_name)
        )
    </update>

    <update id="createConfig">
        create table h_dbc_config
        (
            app varchar2 (100),
            username varchar2 (100),
            service_id varchar2 (100),
            profile_name varchar2 (100),
            config_key varchar2 (500),
            config_value clob,
            data_type varchar2 (50) default 'java.lang.String',
            created_at number (20),
            updated_at number (20),
            constraint pk_dbc_config primary key (app, username, service_id, profile_name, config_key)
        )
    </update>

    <update id="createConfigFile">
        create table h_dbc_config_file
        (
            app varchar2 (100),
            username varchar2 (100),
            service_id varchar2 (100),
            profile_name varchar2 (100),
            file_name varchar2 (100),
            file_content clob,
            created_at number (20),
            updated_at number (20),
            constraint pk_dbc_config_file primary key (app, username, service_id, profile_name)
        )
    </update>

    <update id="createConfigBackup">
        create table h_dbc_config_bk
        (
            id             varchar2(50),
            app            varchar2(100),
            username       VARCHAR2(100),
            service_id     varchar2(100),
            service_name   varchar2(100),
            service_desc   varchar2(255),
            profile_name   varchar2(100),
            profile_desc   varchar2(255),
            file_name      varchar2(100),
            backup_content text,
            created_at     number(20),
            constraint pk_dbc_config_bk primary key (id)
        )
    </update>
</mapper>