<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq969.middleware.dbc.dao.ServiceDao">
    <update id="createService">
        create table h_dbc_service
        (
            service_id   varchar2(100) primary key,
            service_name varchar2(500) unique not null,
            service_desc varchar2(500),
            created_at   number(20),
            updated_at   number(20)
        ) 
    </update>

    <update id="createAccService">
        create table h_dbc_acc_service
        (
            app        varchar2(255),
            username   varchar2(255),
            service_id varchar2(100),
            primary key (app, username, service_id)
        ) 
    </update>

    <update id="createProfiles">
        create table h_dbc_profiles
        (
            profile_name varchar2(100) primary key,
            profile_desc varchar2(500),
            created_at number(20),
            updated_at number(20)
        ) 
    </update>

    <update id="createAccProfiles">
        create table h_dbc_acc_profiles
        (
            app          varchar2(255),
            username     varchar2(255),
            profile_name varchar2(100),
            primary key (app, username, profile_name)
        ) 
    </update>

    <update id="createConfig">
        create table h_dbc_config
        (
            app          varchar2(50),
            username     varchar2(50),
            service_id   varchar2(50),
            profile_name varchar2(50),
            config_key   varchar2(500),
            config_value clob,
            created_at   number(20),
            updated_at   number(20),
            primary key (app, username, service_id, profile_name, config_key)
        ) 
    </update>
</mapper>