spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    dynamic:
      enabled: true
      base-packages: com.github.hbq969
      default-lookup-key: hikari
    hikari:
      jdbc-url: jdbc:oracle:thin:@docker.for.mac.host.internal:1521:XE
      driver-class-name: oracle.jdbc.OracleDriver
      username: dbc
      password: ENC(PQWxMysuG2mMhw2IpXF9BudyHe2cS5hL3nPx6tJBvYJLl9dZ2eSkBhU6ed7FDgQZ)
      maximum-pool-size: 10
      minimum-idle: 5
      max-lifetime: 1800000
      connection-test-query: SELECT 1 FROM DUAL
  mvc:
    interceptors:
      login:
        enabled: true
        dialect: oracle
        init-script-file: sm-initial-gbk.sql
        init-script-file-charset: gbk

mybatis:
  mapper-locations:
    - classpath*:mappers/*.xml
    - classpath*:**/mapper/common/*Mapper.xml
    - classpath*:**/mapper/oracle/*Mapper.xml
  config-location: classpath:jpaConfig-oracle.xml