server:
  port: 30170
  servlet:
    context-path: /h-dbc
    session:
      cookie:
        http-only: true
        max-age: ${spring.mvc.interceptors.login.cookie-max-age-sec}
        secure: false
        same-site: strict
        path: /
        name: h-dbc-sid
      timeout: 30m
  ssl:
    enabled: true
    key-store: classpath:certs/hdbc_server.p12
    key-store-password: Yjc@201301

mybatis:
  mapper-locations:
    - classpath*:com/github/hbq969/code/**/mapper/common/*Mapper.xml
    - classpath*:com/github/hbq969/code/**/mapper/embedded/*Mapper.xml
    - classpath*:com/github/hbq969/middleware/**/mapper/common/*Mapper.xml
    - classpath*:com/github/hbq969/middleware/**/mapper/embedded/*Mapper.xml
  config-location: classpath:jpaConfig-embedded.xml
mybatis-plus:
  mapper-locations: ${mybatis.mapper-locations}
  config-location: ${mybatis.config-location}

spring:
  application:
    name: h-dbc
  main:
    allow-bean-definition-overriding: true
  messages:
    basename: i18n/messages
    encoding: UTF-8
    enabled: true
  mvc:
    interceptors:
      mdc:
        enabled: true
      api-safe:
        enabled: false
      resource-handler-registry:
        entries:
          - handlers: /hbq969-common/**
            locations: classpath:/static/hbq969-common/
          - handlers: /hbq969-dict/**
            locations: classpath:/static/hbq969-dict/
          - handlers: /hbq969-tabula/**
            locations: classpath:/static/hbq969-tabula/
          - handlers: /hbq969-sm/**
            locations: classpath:/static/hbq969-sm/
          - handlers: /dbc-ui/**
            locations: classpath:/static/dbc-ui/
          - handlers: /**
            locations:
              - classpath:/static/
              - classpath:/
        enabled: true
      login:
        enabled: true
        cookie-max-age-sec: 1800
        include-urls:
          - "/**"
        exclude-urls:
          - "/**/*.js"
          - "/**/*.css"
          - "/**/*.png"
          - "/**/*.jpg"
          - "/**/*.map"
          - "/**/*.ico"
          - "/**/error"
          - "/common/health"
          - "/hbq969-sm/index.html"
          - "/hbq969-sm/**/login"
          - "/hbq969-sm/i18n/lang"
          - "/hbq969-sm/i18n/lang/data"
          - "/hbq969-sm/**/getPublicKey"
        session-key: h-dbc-sid
        sm-initial-script:
          language: zh-CN
          charset: utf-8
        auth:
          base:
            enabled: true
        logo-svg: <svg t="1763634394409" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13920" width="32" height="32"><path d="M571.79375 708.875A112.5 112.5 0 1 0 708.875 571.79375V335.7125a56.25 56.25 0 1 0-56.25 0v236.08125c-10.35 2.64375-20.1375 6.75-29.1375 12.09375l-232.3125-232.3125a84.375 84.375 0 1 0-39.6 39.6l232.3125 232.3125c-5.34375 9-9.45 18.7875-12.09375 29.1375H335.7125a56.25 56.25 0 1 0 0 56.25h236.08125zM512 962A450 450 0 1 1 512 62a450 450 0 0 1 0 900z" fill="#2DD08C" p-id="13921"></path></svg>
        copyright: ""
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    dynamic:
      enabled: true
      base-packages: com.github.hbq969
      default-lookup-key: hikari
    hikari:
      jdbc-url: jdbc:h2:file:${user.dir}/.h2/db;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
      driver-class-name: org.h2.Driver
      username: foo
      password: bar
      maximum-pool-size: 20
      minimum-idle: 5
      max-lifetime: 1800000
      connection-test-query: SELECT 1
  cache:
    ext:
      juc:
        enabled: true
        max-capacity: 500

knife4j:
  enable: false
  production: false
  basic:
    enable: false
    username: ${spring.application.name}
    password: ENC(PQWxMysuG2mMhw2IpXF9BudyHe2cS5hL3nPx6tJBvYJLl9dZ2eSkBhU6ed7FDgQZ)

swagger:
  enabled: true
  base-package: com
  api-info:
    title: api-gateway dashboard api接口
    description: 网关维护管理接口

dict:
  enabled: true
  reload:
    cron: 0 */30 * * * *
  map-key-prefix: fmt


encrypt:
  config:
    enabled: true
  restful:
    enabled: true
    rsa:
      charset: utf-8
      show-log: true
      public-key: ENC(WygNCSM1VuTwt13Hio/nuP8JIhCneaOqRlb77G6ulQuQGpX2a6su76UPXYt07MFSqgax6z1zqibwY12tLb31cPBZEFqnhjvx5H1EPxwTlHvlyfKuebgcJKnFHWhUwmdyNMWPfcdfLKvdOPC3zNMBLUBgw0dszOQykFf/lTNf8pQtuL81Z9BiXm2EBduZync84rXUv7DsmVrvh/tW3iL/iaM0696sffKwRAtoALeSd5OaXgaem9N1ku5JYK028VGxXxAx3JC3OZ0F6iEa/O/FlQsSl4gujumo4FVKzfvPZ9wYEJVwAS3ZtGLbKsllIiAKh/io6OkCRnENkO8IL+5KXg==)
      private-key: ENC(9hwdaOnFLfGOjPrUHjRoIfOBUYK61YgA3hRLOBDsabqYXew/G1i4hwB+389Ils26RIZaBOM/rowiah9j2YFLWvvr8q3xkN3bAfGsa4aFOEiCHmCPZ0mwVhVUqfLWNWSLl5sHLvwbNR0I+bqRSWSMtiCqiffFhPzA70rTJfo/LHEFXwqTAkM5E+UOa04FSZVWBsD6Fwzyq4atkLir67svB2hBLthHEPQtT1vIHMTGtN5uFYPcN8y2JIpR/XZ44KFWBlS9SGpKgBsaSdyKRH9uycK/grEhoij4LEuO/XH5kjuMA0xLO+sehzleeGwlnQmbU30Aq2stYA4dz7hhw427cun/ZnXN9zYM/npshsMtfJDbquCMpEnTJeXQFg3dwSa7o2aspdUFoWEmV3Ogc6rKff05cOWWtcdyK4FhxPazLXZ3+EMXVmk0uAldP68sRtOcQwioPI/WhW8CPm0zHEbPeT0UnVA+lLexAezFO1/tukt4g6jZ7lxB1DBDSUXgZJXUjGnG/zN1mOVVgtmCnlq9NTFqbtv09FPAZ3nOCA3mxxW+ndLKLbVnuoWyMsXYb8Hd+SJLQZ1j5Gxhld3eR7Qrq6DEDOLfoH7OnKMlbIDStCM/v1UcbavKkgiQDLeXYV2xxIrJGFvMtuRrrCRBgFwmklgJb367tHcXMojopJe6GDeTTXz4i0ByOs7gxGndPNTs3IarsyALoopd+tFiw5B4yeO4LGb49J8y7TIwuxARR3b98HltPBkNciv48QCGdwUO+8bc71WjJue+LJ4rf1EL8ukH6l8rvf6eUTiFWUZK8AqaFM6kXM3OpzaC7+aXNkSf0wcEd/6Xdrnya34mkbdfYeWD7AH9F1+qn/YA1ELXgWkFsgRMVATsnnHrNj0iuE7u2Mu5OS5p8GRWjPVddGtXhxgRjvaq/sbVBfGoRA+jDR5nvqvvIv3SBEs392F331nS9Ql4ckJ6ThgjvrD3KcKr/cbeGSvQv0NaTkImiCB92WM3Etwa4tuBIGv1S0nWGcXKGi/YqKYq5gC0zixby43BC3DmbDd8GLNZUM9mDw9bANDIeRmvLvXmjt3H/up5AoXKoa25etG5xnDg+yM+JmcMHJY+Ud/+O7jEiBjLk4KiGS2GIfbTHgMp+dVKnZkJy4NOFGjKwu5nD8eciyGo755S9fu40+8pJ+pHhWA30JZll+o=)
    advice-packages:
      - com.github.hbq969.middleware
      - com.github.hbq969.code

advice:
  log:
    enabled: true
  restful-limit:
    enabled: true

dbc:
  backup: true
  menu:
    prefix-path: ""

operlog:
  enabled: true
  policy: embedded
  use-default-collect-policy: true
  table-name: log_dbc
  thread-num: 1
  batch-timeout-mills: 10000
  batch-size: 50
  queue-capacity: 5000

tabula:
  enabled: true
  tables:
    - log_dbc