spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    dynamic:
      enabled: true
      base-packages: com.github.hbq969
      default-lookup-key: hikari
    hikari:
      jdbc-url: jdbc:oracle:thin:@docker.for.mac.host.internal:1521:XE
      driver-class-name: oracle.jdbc.OracleDriver
      username: dbc
      password: ENC(PQWxMysuG2mMhw2IpXF9BudyHe2cS5hL3nPx6tJBvYJLl9dZ2eSkBhU6ed7FDgQZ)
      maximum-pool-size: 10
      minimum-idle: 5
      max-lifetime: 1800000
      connection-test-query: SELECT 1 FROM DUAL
  mvc:
    interceptors:
      login:
        enabled: true
        init-script-file: sm-initial-gbk.sql
        init-script-file-charset: gbk

mybatis:
  mapper-locations:
    - classpath*:com/github/hbq969/code/**/mapper/common/*Mapper.xml
    - classpath*:com/github/hbq969/code/**/mapper/oracle/*Mapper.xml
    - classpath*:com/github/hbq969/middleware/**/mapper/common/*Mapper.xml
    - classpath*:com/github/hbq969/middleware/**/mapper/oracle/*Mapper.xml
  config-location: classpath:jpaConfig-oracle.xml

operlog:
  enabled: true
  policy: oracle
  use-default-collect-policy: true
  table-name: log_dbc
  thread-num: 1
  batch-timeout-mills: 10000
  batch-size: 50
  queue-capacity: 5000

tabula:
  enabled: true
  tables:
    - log_dbc

server:
  ssl:
    enabled: false